<% for (var i=0; i<post.length; i++) { %>
<div>
	<h2><%= post[i].title %></h2>
</div>
<form action="/posts/<%= post[i].id %>" method="post" enctype="multipart/form-data">
	<div> 
		<input id='title' type='text' name='title' value='<%= post[i].title %>'>
		<input type="file" name="file-to-upload" />
		<input type="submit" value="Edit"/>
	</div>
</form>
<form action="/posts/<%= post[i].id %>/delete" method="post">
	<div> 
		<input type="submit" name="delete" value="Delete"/>
	</div>
</form>


<div>
	<img src="uploads/<%=post[i].imageID %>" />
</div>

<form action="/posts/<%= post[i].id %>/comments" method="post">
	<div> 
		<h4>Comment</h4>
		<input id='comment' type='text' name='comment'>
		<input type="submit" />
	</div>
</form>
<div>
	<% post[i].Comments.forEach(function(comment) { %>	
</div>	
<div> 
		<p> <%= comment.comment %> </p>
</div>

<form action="/posts/<%= post[i].id %>/comments/<%= comment.id %>/delete" method="post"> 
	<div> 
		<input type="submit" name="delete_c" value="Delete"/>
	</div>
</form>

	
	<% })%>

<% } %>

<a href="/upload">Write</a>